
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

.search-wrap{
    width: 98%;
    height: 40px;
    margin-left: 1%;
    padding-top: 5px;
    /* background-color: #00A1CB;*/
}

.search-title{
    font-size: 20px;
}

.result-wrap{
    height: 700px;
    margin-left: 5%;
    width: 90%;

}

.table .btn {
    height: 24px;
    font-size: 14px;
    padding-top: 2px;
}

.btn-block {
    float: left;
    height: 24px;
    font-size: 14px;
    padding-top: 2px;
}

.roleOption{
    margin-left: 10px;
}
