
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

.search-wrap{
    width: 98%;
    height: 50px;
    margin-left: 1%;
    background-color: #00A1CB;
}
/*

.search-wrap .sw-l{
    width: 20%;
    float: left;
    display: inline-block;
    width: 100px;
}*/
